.git/
.gitignore
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
config/.env
config/user_session.session
config/user_session.session-journal
config/bot_session.session
config/bot_session.session-journal
config/session_string.txt
files/downloads/*
!files/downloads/.gitkeep
data/*.db
data/*.db-wal
data/*.db-shm
tests/
